<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🎾 User Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./css/style_all_courts.css') }}">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col title">
                {% if "user_id" in session %}
                <h2>Hello {{ user.first_name }}!</h2>
                {% endif %}
                {% if "user_id" not in session %}
                <h2>Hello!</h2>
                {% endif %}
                <div class="buttons-nav">
                    {% if "user_id" in session %}
                    <a href="/user_dashboard" class="btn btn-danger float-end">Your Profile</a>
                    {% endif %}
                    <a href="/logout" class="btn btn-danger float-end">Logout</a>
                </div>
            </div>
                <table class="table table-dark table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Address</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for court in all_courts %}
                        <tr>
                            <td><a href="/show_court/{{court.id}}">{{court.title}}</a></td>
                            <td>{{court.address1}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>