<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🎾 User Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./css/style_all_courts.css') }}">

    
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col title">
                {% if "user_id" not in session %}
                <h2>Browse Court Data</h2>
                <div class="buttons-nav">
                    <a href="/registration" class="btn btn-danger float-end">Register/Login</a>
                </div>
                {% endif %}
                {% if "user_id" in session %}
                <h2>Hello {{ user.first_name }}!</h2>
                <div class="btn-group buttons-nav">
                    <a href="/user_dashboard" class="btn btn-danger float-end">Your Profile</a>
                    <a href="/logout" class="btn btn-danger float-end">Logout</a>
                </div>
                {% endif %}
            </div>
                <!-- <table class="table table-dark table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Address</th>
                            <th scope="col">Number of Courts</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for court in all_courts %}
                        <tr>
                            <td><a href="/show_court/{{court.id}}">{{court.title}}</a></td>
                            <td>{{court.address1}}</td>
                            <td>{{court.ct_number}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table> -->
                <!-- <a href="/map" class="btn btn-danger float-end">See Locations on The Map</a> -->
            </div>
            <div id="map"></div>
        </div>
    </div>
    <script>
        function initMap() {
        var locations = [
            {"title":"Waveland Park Tennis Courts","address1":"3650 N Recreation Dr","address2":"Chicago, IL 60613, United States","coords":{"lat":41.95027134749401,"lng":-87.64275376441802},"placeId":"ChIJUX-FqL7TD4gRIVmoYRTWJho"},
            {"title":"Waveland Park Tennis Courts #2","address1":"3920 N Recreation Dr","address2":"Chicago, IL 60613, United States","coords":{"lat":41.95260487827705,"lng":-87.64362572209015},"placeId":"ChIJSeME46jTD4gRwW5PCQnmIjo"},
            {"title":"Hamlin Tennis Court East","address1":"3035 N Hoyne Ave","address2":"Chicago, IL 60618, United States","coords":{"lat":41.9362663812319,"lng":-87.68032096441803},"placeId":"ChIJ1TaZ1GHSD4gRPTe4KuAfdqo"},
            {"title":"Oz Park Tennis Courts","address1":"613-601 W Dickens Ave","address2":"Chicago, IL 60614, United States","coords":{"lat":41.9204492007282,"lng":-87.6444970969589},"placeId":"ChIJV6ZmH0nTD4gR8PUZ3Fia6G8"},
            {"title":"Maggie Daley Park","address1":"337 E Randolph St","address2":"Chicago, IL 60601, United States","coords":{"lat":41.8839860304817,"lng":-87.61595683013304},"placeId":"ChIJO-RlfFgrDogR-AvIFTumeqs"},
            {"title":"62 W Roosevelt Rd","address1":"Roosevelt Park","address2":"Chicago, IL 60605, United States","coords":{"lat":41.86777447445718,"lng":-87.62994759510651},"placeId":"Eik2MiBXIFJvb3NldmVsdCBSZCwgQ2hpY2FnbywgSUwgNjA2MDUsIFVTQSJQEk4KNAoyCbE4X1uQLA6IEZxZ19gGl0kYGh4LEO7B7qEBGhQKEgkBFoR0fysOiBGpjxFb7LIfJgwQPioUChIJu8BLjJosDogRQCudUVwPILY"},
            {"title":"Chase Park Tennis Courts","address1":"4701 N Ashland Ave","address2":"Chicago, IL 60640, United States","coords":{"lat":41.96820038047428,"lng":-87.66837779325407},"placeId":"ChIJF8tygyXSD4gR5NW7tci7hFA"}
        ]

        var options = {
            center: { lat: 41.931, lng: -87.647 },
            zoom: 12,
        }
        map = new google.maps.Map(document.getElementById("map"), options);

        function addMarker(property) {
            const marker = new google.maps.Marker({
                position: property.location,
                map:map
            });
            const detailWindow = new google.maps.InfoWindow({
                content: property.content
            });

            marker.addListener("click", ()=> {
                detailWindow.open(map, marker)
            })

            marker.addListener("clickAway", ()=> {
                detailWindow.close(map, marker)
            })

            // marker.addListener("mouseover", ()=> {
            //     detailWindow.open(map, marker)
            // })

            // marker.addListener("mouseout", ()=> {
            //     detailWindow.close(map, marker)
            // })
        }

        for (let i=0; i<locations.length; i++){
            addMarker({location:{"lat":locations[i].coords.lat,"lng":locations[i].coords.lng}, content: `<a href="/show_court/${i+1}">${locations[i].title}</a><p class="maps_window_p">${locations[i].address1}</p><p class="maps_window_p2">${locations[i].address2}</p>`})
        }
        infoWindow = new google.maps.InfoWindow();

        const locationButton = document.createElement("button");

        locationButton.textContent = "Lookup your location";
        locationButton.classList.add("custom-map-control-button");
        map.controls[google.maps.ControlPosition.TOP_CENTER].push(locationButton);
        locationButton.addEventListener("click", () => {
            // Try HTML5 geolocation.
            if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(
                (position) => {
                const pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude,
                };

                infoWindow.setPosition(pos);
                infoWindow.setContent("You are here!");
                infoWindow.open(map);
                map.setCenter(pos);
                },
                () => {
                handleLocationError(true, infoWindow, map.getCenter());
                }
            );
            } else {
            // Browser doesn't support Geolocation
            handleLocationError(false, infoWindow, map.getCenter());
            }
        });
        
        }

        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
            infoWindow.setPosition(pos);
            infoWindow.setContent(
                browserHasGeolocation
                ? "Error: The Geolocation service failed."
                : "Error: Your browser doesn't support geolocation."
            );
            infoWindow.open(map);
        }
        

    
    </script>
    <script
    defer
    
    src="https://maps.googleapis.com/maps/api/js?key=API_KEY=initMap">
    </script>
</body>

</html>